{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <section class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="block">
                        {{ with .Site.Params.cta.title }}
                            <h2 data-drip-attribute="headline">{{ . }}</h2>
                        {{ end }}
                        {{ with .Site.Params.cta.subtitle }}
                            <p data-drip-attribute="description">{{ . }}</p>
                        {{ end }}
                        <div class="col-lg-6 offset-lg-3">
                            <div class="input-group">

                              <form action="https://www.getdrip.com/forms/97853479/submissions" method="post" data-drip-embedded-form="97853479">
                                <div>
                                  <label for="drip-email" style="display: none;">Email Address</label>
                                  <input class="form-control" type="email" id="drip-email" name="fields[email]" value="Email address" />
                                </div>
                                <div style="display: none;" aria-hidden="true">
                                  <label for="website">Website</label><br />
                                  <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
                                </div>
                                <div class="input-group-btn">
                                  <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-default btn-subscription" />
                                </div>
                              </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
