<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Copyright &copy;
                        <a href="http://www.beyondperformance.us">Beyond Performance LLC</a>| All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lwtCountdown-1.0.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>

<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '3685278';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/3685278.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
<!-- end Drip -->

</body>

</html>
